<%-include('./tmpl/header', { loadPostCss: true }) %>
<div class="main">
  <div class="content-wrapper">
    <%-include('./tmpl/post_list', { list: locals.list }) %>
    <%-include('./tmpl/pagination', {
      totalCount: locals.totalCount,
      pageSize: locals.pageSize,
      pageId: locals.pageId,
      go: '/?page=${pageId}',
      layout: {
        jumper: true,
        prev: true,
        next: true,
      },
    }) %>
    <%-include('./tmpl/scroll_top') %>
  </div>
</div>
<%-include('./tmpl/footer') %>